<div class="container">
    <div class="row mt-2">
        <div class="col-12">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    
                    <h3 class="mb-0">Reiss Education Center</h3>
                    <div class="mb-1 text-body-secondary">
                        Contact Mrs.Ushani Reiss <br>
                        (Administrator and Co-founder of Reiss Education Center)
                        <br>
                    </div>
                    
                
                    <div class="card-text mb-auto">
                        <br>
                        <i class="bi bi-whatsapp"> 077 246 9072</i>
                        <br>
                        <i class="bi bi-envelope-at-fill"> reissec2011@gmail.com</i>
                        <br>
                        
                        <i class="bi bi-facebook"><a  href="https://www.facebook.com/ReissEC?mibextid=9R9pXO" target="_blank">view oficial facebook page</a></i>
                        <br>
                       
                        <br>
                        <button type="button" class="btn btn-outline-dark"><i class="bi bi-house" routerLink="/">Back to home page</i></button>     
                    </div>
                    
                    
                    
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img height="300px" src="../../../assets/img/logo.jpeg">
                </div>
            </div>
        </div>
    </div>    
</div>    
