<div class="col-12 mt-2">
    <div class="h-100 p-5 text-bg-dark rounded-3">
      <h2>Group Classes By Institute</h2>
      <p>Usually group classes are conducted for a fee of about Rs.4000 monthly.
        <br>Clsses will be conducted for two and half hours initially it will be 
        shifted to three hours depending on the requirement.
        <br>
         <br>Contact Reiss Education Center for more information.</p>
      <button class="btn btn-outline-light" routerLink="/contactInstitute" type="button">Contact Institute</button>
    </div>
  </div>
  <div class="col-12 mt-2">
    <div class="h-100 p-5 text-bg-dark rounded-3">
      <h2>Individual Classes</h2>
      <p>Usually individual classes are conducted for a fee of about Rs.2000 per visit
        if student comes to my home and about 4000 per visit if class is contacted at student's home.
        Note that rates might change depending on the location of the student.
        <br>
    
        <br>Clsses will be conducted for two and half hours 

        <br>
         
      <button class="btn btn-outline-light" routerLink="/contactMe" type="button">Contact Me</button>
    </div>
  </div>
  <div class="col-12 mt-2">
    <div class="h-100 p-5 text-bg-dark rounded-3">
      <h2>Group Classes Organised by Students</h2>
      <p>Please contact me to discuss terms of conducting the class.
        <br>Clsses will be conducted for two and half hours initially it will be 
        shifted to three hours depending on the requirement.
        <br>

      <button class="btn btn-outline-light" routerLink="/contactMe" type="button">Contact Me</button>
    </div>
  </div>