<div class="col-12 mt-2">
    <div class="h-100 p-5 text-bg-dark rounded-3">
      <h2>2026 Advanced Level English Medium Group Class - Theory</h2>
      <p>Usually group classes are conducted for a fee of about Rs.4000 monthly.
        <br>Clsses will be conducted for two and half hours initially it will be 
        shifted to three hours depending on the requirement.
        <br>Clsses will be held at Reiss Education Center Rawathawaththe.
        <br>
         <br>Contact Reiss Education Center for more information.</p>
      <button class="btn btn-outline-light" routerLink="/contactInstitute" type="button">Contact Institute</button>
    </div>
  </div>
  <div class="col-12 mt-2">
    <div class="h-100 p-5 text-bg-dark rounded-3">
      <h2>2026 Advanced Level English Medium Group Class - Paper</h2>
      <p>Fee of Rs.2000 will be charged monthly for students attending the theory class and a Fee of Rs.4000 will be charged for those comming only for paper class.
        <br>Clsses will be conducted for two and half hours.
        <br>Clsses will be held at Reiss Education Center Rawathawaththe.
        <br>
         <br>Contact Reiss Education Center for more information.</p>
      <button class="btn btn-outline-light" routerLink="/contactInstitute" type="button">Contact Institute</button>
    </div>
  </div>
  <div class="col-12 mt-2">
    <div class="h-100 p-5 text-bg-dark rounded-3">
      <h2>2025 Advanced Level English Medium Paper Class</h2>
      <p>
        
         <br>Contact Reiss Education Center for more information.</p>
      <button class="btn btn-outline-light" routerLink="/contactInstitute" type="button">Contact Institute</button>
    </div>
  </div>

  <div class="col-12 mt-2">
    <div class="h-100 p-5 text-bg-dark rounded-3">
      <h2>2024 Advanced Level English Medium Group Class</h2>
      <p>
        
         <br>Contact Reiss Education Center for more information.</p>
      <button class="btn btn-outline-light" routerLink="/contactInstitute" type="button">Contact Institute</button>
    </div>
  </div>
