<div class="size scrollbar-1">
    <div id="carouselExampleInterval" class="carousel slide mt-2" data-bs-ride="carousel">
        <div class="carousel-inner">
            <!-- <div class="carousel-item active card" data-bs-interval="4000">
                <div class="m-3">
                    <img height="250px" src="../../../assets/img/boyReading1.png" class="d-block w-100" alt="...">
                </div>
                <div class="card-body mb-0">
                    <h5 class="card-title" style="align-items: center;">Vision</h5>
                    <p class="card-text">
                        Creating a seamless learning environment for students, ensuring effortless understanding and paving the path to excellence.
                    </p>
                </div>
            </div> -->

            <div class="carousel-item  active card" data-bs-interval="4000">
                <div class="card" style="width: 18rem;">
                    <img src="./../../../assets/img/boyReading1.png" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">Learning track</h5>
                    <p class="card-text">
                        Creating a seamless learning environment for students, ensuring effortless understanding and paving the path to excellence.
                    </p>
                    </div>
                </div>
            </div>

            <div class="carousel-item" data-bs-interval="4000">
                <div class="card" style="width: 18rem;">
                    <img height="50%" src="./../../../assets/img/plan.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">Learning track</h5>
                    <p class="card-text">
                        1)Lesson vice theory coverage<br>
                        2)On the spot practice question<br>
                        3)Past paper Discussion<br>
                        4)Timed question discussion
                    </p>
                    </div>
                </div>
            </div>
    
          <div class="carousel-item" data-bs-interval="4000">
            <div class="card" style="width: 18rem;">
                <img src="./../../../assets/img/benifits.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Why Maths</h5>
                  <p class="card-text">
                    1)Enhanced Problem-Solving 
                    <br>&nbsp;&nbsp;&nbsp; Skills<br>
                    2)Strong Foundation for Further<br> &nbsp;&nbsp;&nbsp;Studies<br>
                    3)Applicability in Various Fields<br>
                  </p>
                  
                </div>
            </div>
          </div>
    
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
          
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>
    
</div>
