<header class="p-3 text-bg-dark ">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <a href="/" class="navbar-brand">
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                    <use xlink:href="#bootstrap"/>
                </svg>
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a routerLink="" class="nav-link px-2 text-white">Home</a></li>
                    <li class="nav-item"><a routerLink="classes" class="nav-link px-2 text-white">Classes</a></li>
                    <li class="nav-item"><a routerLink="rates" class="nav-link px-2 text-white">Rates</a></li>
                    <li class="nav-item"><a routerLink="qualifications" class="nav-link px-2 text-white">Qualifications</a></li>
                    <li class="nav-item"><a routerLink="aboutMe" class="nav-link px-2 text-white">About Me</a></li>
                    <li class="nav-item"><a routerLink="socialMedia" class="nav-link px-2 text-white">Social media</a></li>
                    <li class="nav-item"><a routerLink="LogVedios" class="nav-link px-2 text-white">Videos</a></li>
                </ul>

                <div class="text-end">
                    <button type="button" onclick="window.open('https://forms.gle/rj3B44owKM9FFq6H8', '_blank')"  class="btn btn-outline-light me-2">Register</button>
                    <button type="button" routerLink="contactUs" class="btn btn-warning ">Contact</button>
                </div>
            </div>
        </nav>
    </div>
</header>