<div class="container">
    <div class="row">
        
        <hr>
        <h2>Fractional Indices of a Power</h2>
        <div class="col-12  mt-2">
            <div class="ratio ratio-16x9">
                <iframe src="https://www.youtube.com/embed/qarSHzXI1EY?si=SZ_Nb02Kh1crxem4" title="YouTube video" allowfullscreen></iframe>
                
            </div>
            <div class="m-2">
                <button type="button" onclick="window.open('https://forms.gle/iD3L6PBVK8mL2Tit5', '_blank')"  class="btn btn-outline-dark">Enter Quiz</button>
            </div>
            
           
            
        </div>
        <br>
        <hr>
        <div class="col-12  mt-2">
            <h2>Solving Equations With Indices</h2>
            <div class="ratio ratio-16x9">
                <iframe src="https://www.youtube.com/embed/V0BC2R-fwzY?si=kNEzVNWvv_aXFx-m" title="YouTube video" allowfullscreen></iframe>
            </div>
            
            <div class="m-2">
                <button type="button" onclick="window.open('https://forms.gle/aN24nEaNirCwDDDw9', '_blank')"  class="btn btn-outline-dark">Enter Quiz</button>
            </div>

        </div>
        <br>
        <hr>
        
        <div class="col-12 mt-2">
            <h2>Laws Of Logarithms</h2>
            <div class="ratio ratio-16x9">
                <iframe src="https://www.youtube.com/embed/1UJK97_GUSs?si=zM2E9TXL-0Mv_aNP" title="YouTube video" allowfullscreen></iframe>
            </div>
            <div class="m-2">
                <button type="button" onclick="window.open('https://forms.gle/XcoTZ3XP6DbbsipE7', '_blank')"  class="btn btn-outline-dark">Enter Quiz</button>
            </div>
            
        </div>
        <br>
        <hr>

        <div class="col-12 mt-2">
            <h2>Logarithms Of Decimal Numbers Less Than One And Antilog</h2>
            <div class="ratio ratio-16x9">
                <iframe src="https://www.youtube.com/embed/E3kTAxNRM3Q?si=ra70BNA7cQzIFtki" title="YouTube video" allowfullscreen></iframe>
            </div>
            <div class="m-2">
                <button type="button" onclick="window.open('https://forms.gle/jMLgUsyqsc9q8CTa9', '_blank')"  class="btn btn-outline-dark">Enter Quiz</button>
            </div>
        
        </div>
        <br>
        <hr>

        <div class="col-12 mt-2">
            <h2>Addition ,Subtraction ,Division and Multiplication of Logarithms</h2>
            <div class="ratio ratio-16x9">
                <iframe src="https://www.youtube.com/embed/-fz9mdMaVsk?si=PjMPKSD5LpDMOxW6" title="YouTube video" allowfullscreen></iframe>
            </div>
            <div class="m-2">
                <button type="button" onclick="window.open('https://forms.gle/2Zpowy4TFiQff3Xz5', '_blank')"  class="btn btn-outline-dark">Enter Quiz</button>
            </div>

        </div>
        <br>
        <hr>

        <div class="col-12 mt-2">
            <h2>Simplification of numerical expressions using log tables.</h2>
            <div class="ratio ratio-16x9">
                <iframe src="https://www.youtube.com/embed/S36e2QDw-2M?si=bElJm2DhrqCPAn2Y" title="YouTube video" allowfullscreen></iframe>
            </div>
            <div class="m-2">
                <button type="button" onclick="window.open('https://forms.gle/jNf3L3XnKeoXfoe67', '_blank')"  class="btn btn-outline-dark">Enter Quiz</button>
            </div>
            
        </div>
        <br>
        <hr>
    </div>
</div>