<div class="container mt-2">
    <div class="p-4 text-center bg-body-tertiary rounded-3">
        <h2 class="text-body-emphasis">A-Level Combined Maths (English Medium)</h2>
        <img height="200px" src="./../assets/img/profilePic.png" class="rounded mx-auto d-block" alt="...">
        <h3 class="text-body-emphasis">My Message</h3>
        <p class="col-lg-8 mx-auto fs-8 text-muted">
            Dear students, as you embark on the challenging journey of the GCE A/L examination, anticipate one of the most competitive test you'll encounter. Embrace this endeavor with me, and together, let's cultivate a seamlessly enriching learning experience.
        </p>
        <div class="d-sm-inline-flex align-items-sm-center gap-2">
            <button routerLink="/contactMe" class="btn btn-primary px-4 rounded-pill" type="button">
                Contact Me
                <svg class="bi ms-2" width="24" height="24"><use xlink:href="#arrow-right-short"/></svg>
            </button>

            <button routerLink="/contactInstitute" class="btn btn-outline-secondary  px-4 rounded-pill mt-2 mt-sm-0" type="button">
                Contact Institute
            </button>
        </div>
    </div>
</div>


<div class="toast show mb-3" style="position: fixed;bottom: 0;right: 0;z-index: 1050;" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <i class="bi bi-person-circle"></i>
      <strong class="me-auto"> Hi I'm Thiwanka</strong>
      <small>075 094 4507</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      Join My Adavnced Level Combined Maths Classes In English Medium.
        <br>
        <span style="color: red;">Click "Vedios"  to view some of my free lessons</span>
    </div>
    <div>
        <button routerLink="LogVedios"  style="margin-left: 10px; margin-bottom: 5px;" type="button" class="btn btn-outline-dark btn-sm">Vedios</button>
        <button  onclick="window.open('https://docs.google.com/document/d/1Z-7ouKgpJv-JPrVBSThL0XIkwND0jk3yZ7TgDENNCdo/edit?usp=sharing','_blank')" style="margin-left: 5px; margin-bottom: 5px;" type="button" class="btn btn-outline-dark btn-sm">Updates</button>
    </div>
  
  </div>
  