<div class="container">
    <div class="row mt-2">
        <div class="col-12">
            <div class="row containerColor g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    
                    <h3 class="mb-0">My Social Media</h3>
                    <div class="mb-1 text-body-secondary">
                        I am active in many popular social media platforms like <br>
                        Whatsapp, Instagram, Facebook, Youtube, Ticktock
                        <br>
                    </div>
                    
                
                    <div class="card-text mb-auto">
                        <i class="bi bi-whatsapp"> 075 094 4507</i>
                        <br>
                        <i class="bi bi-envelope-at-fill"> thiwankar2003@gmail.com</i>
                        <br>
                        <i class="bi bi-facebook"><a  href="https://www.facebook.com/profile.php?id=100085395694956&mibextid=9R9pXO" target="_blank">view my facebook</a></i>
                        <br>
                        <i class="bi bi-instagram"><a href="https://www.instagram.com/thiwa_reiss?igsh=MWQ1aXVlYXN6NGNqdA==">view my instagram</a></i>
                        <br>
                        <i class="bi bi-file-music-fill"><a href="https://www.tiktok.com/@thiwanka_reiss?_t=8jJFmZT5dZZ&_r=1">My Ticktock</a></i>
                        <br>
                        <br>
                        <button type="button" class="btn btn-outline-dark"><i class="bi bi-house" routerLink="/">Back to home page</i></button>     
                    </div>
                    
                    
                    
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img height="320px" src="assets/img/social.jpg">
                </div>
            </div>
        </div>
    </div>    
</div>    
