<div class="container">
    <div class="row">
        <div class="col-lg-6  mt-2">
            <div class="ratio ratio-16x9">
                <iframe src="https://www.youtube.com/embed/Re98X3d4LpY?si=SzktPWWM0t8Q6kGh" title="YouTube video" allowfullscreen></iframe>
                
            </div>
           
            
        </div>
        <div class="col-lg-6  mt-2">
            <div class="ratio ratio-16x9">
                <iframe src="https://www.youtube.com/embed/h5HkYnqak_g?si=DxQKUwkZnwwhaWiD" title="YouTube video" allowfullscreen></iframe>
            </div>
            
        </div>

    </div>
</div>


