<div class="card mt-2" style="overflow-x: auto;">
    <div class="card-body">
      <h5 class="card-title">University Acceptance</h5>
      <img src="../../../assets/img/university.png" class="rounded mx-auto d-block" alt="...">
    </div>
</div>
<div class="card mt-2" style="overflow-x: auto;">
    <div class="card-body">
      <h5 class="card-title">Adanced Level Results</h5>
      <img height="300px" src="../../../assets/img/Alevel.png" class="rounded mx-auto d-block" alt="...">
    </div>
</div>
<div class="card mt-2">
    <div class="card-body" style="overflow-x: auto;">
      <h5 class="card-title">Odinary Level Results</h5>
      <img  height="400px" src="../../../assets/img/OLevel.jpeg" class="rounded mx-auto d-block" alt="...">
    </div>
</div>
