<div class="container mt-2">
    <div class="p-4 text-center bg-body-tertiary rounded-3">
        <img height="400px" src="../../../assets/img/aboutMe.jpeg" class="rounded mx-auto d-block" alt="...">
        <h1 class="text-body-emphasis">About Me</h1>
        <p class="col-lg-8 mx-auto fs-8 text-muted">
            Well, here's what I genuinely think about my self."I am a highly energetic and skillfull teacher who embraces new means , techniques and technologies to bring forward lessons in
             an entertainig manner. I always try to create a student friendly environment inorder to bring about a maximum
            output from the students. 
            <br><br>
            
            Also currently, I am an undergraduate of Engineering faculty of University of Moratuwa.
            <br>
            <br>
            
            In my opinion the education sector has been compleately revolutionised after the pandemic and therfore
            we must sieze the advantages of modern teaching meathods."
        </p>
        
    </div>
</div>

